<%- include ("partial/header") %>
<h1>
	 SEARCH FOR A MOVIE
</h1>

<form action="/results" method="GET">
	<input type="text" placeholder="search term" name="search">
	<br>
	<button type="submit">SUBMIT</button>
</form>
<%- include ("partial/footer") %>