
body{
	background:yellow;
}
h1{
	color:purple;
	text-align:center;
	 padding-top: 10% ;
}
input[type=text] {
  width: 18%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form{
	
	text-align:center;
}


